body,
html {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.column {
  float: left;
}
.row {
  margin: 0;
  width: 100vw;
  clear: both;
}
#balance-size {
  font-size: 0.7vw;
}

.blank,
.nav-funds,
.funds,
.balance,
.profile {
  height: 8vh;
  box-shadow: 0px 3px 5px 0px #ccc;
}

.pvp {
  height: 8vh;
  text-align: center;
  width: 23vw;
  background-color: #223;
}
.blank {
  display: block;
  width: 45vw;
  background: #fff;
}

.nav-funds {
  color: white;
  display: block;
  width: 15vw;
  font-weight: 700;
  font-size: 1vw;
  background-color: #5d8;
  border: none;
}
.balance {
  overflow: auto;
  overflow: hidden;
  display: block;
  width: 12vw;
  font-size: 1vw;
  text-align: center;
}
#space {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.2vw;
  word-spacing: -4px;
}
.profile {
  display: block;
  width: 5vw;
}
#picture {
  height: 8vh;
  width: 5vw;
}
#pvp-icon {
  height: 90%;
  width: 70%;
}

.left-box {
  font-size: 1.5vw;
  float: left;
  text-align: left;
  background-color: #223;
  width: 23vw;
  height: 101vh;
  color: #88a;
  box-shadow: 6px 8px 8px 0px #ccc;
  border-top: solid 3px #334;
}
.dropbtn {
  text-align: left;
  width: 23vw;
  margin-top: 1.5vh;
  margin-left: 0.4vw;
  background-color: #66c;
  color: white;
  padding: 16px;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
}

.dropdown {
  z-index: 1;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  align-content: center;
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#icons {
  width: 1vw;
  height: 1.5vh;
}
.arrowdown {
  float: right;
}
.card {
  width: 15vw;
  padding: 0.7vw;
  float: left;
}

#image {
  border-radius: 5px 5px 0 0;
}
.container {
  box-shadow: 0px 6px 8px 0px #ccc;
  border-top: 10px solid #334;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  word-wrap: break-word;
  font-size: 1.1vw;
  margin-top: -1vh;
  color: #aac;
  background-color: #223;
  height: 8vh;
  border-radius: 0 0 5px 5px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  width: 100%;
  float: left;
}
.card-column {
  float: none;
}
.money {
  font-weight: 900;
}
@media only screen and (max-width: 1024px) {
  .dropbtn,
  .balance,
  .nav-funds,
  .container {
    overflow: hidden;
    font-size: 1.5vh;
    text-align: center;
    overflow: auto;
  }
}
@media only screen and (max-width: 591px) {
  .dropdown,
  .dropbtn {
    margin-bottom: -4px;
    margin-top: 11vh;
    margin-right: 5px;
    display: block;
    float: none;
    width: 99.5%;
    height: 100%;
    font-size: 2.5vh;
  }
  .balance {
    float: left;
    width: 82vw;
    height: 10vh;
    font-size: 5.5vw;
    font-weight: 900;
    text-align: justify;
  }
  #icons {
    width: 5%;
  }
  #space {
    text-align: center;
    font-size: 3vw;
    margin-top: 10px;
    margin-left: 240px;
  }
  #balance-size {
    margin-top: 10px;
    font-size: 2.7vw;
  }
}
@media only screen and (max-width: 591px) {
  .left-box,
  .blank,
  .funds,
  .pvp,
  .nav-funds {
    display: none;
  }
}
@media only screen and (max-width: 591px) {
  .hamburger {
    display: hidden;
  }
}
@media only screen and (max-width: 591px) {
  #picture,
  .profile {
    float: right;
    width: 18vw;
    height: 10vh;
    box-shadow: 0px 3px 15px 0px #ccc;
  }
}

@media only screen and (max-width: 591px) {
  .card {
    float: left;
    margin-left: 5vw;
    width: 41%;
    height: auto;
  }
  .container {
    font-size: 2.5vh;
    height: 12vh;
    width: 100%;
  }
}
@media only screen and (max-width: 413px) and (min-width: 411px) {
  .card {
    float: left;
    margin-left: 9vw;
    width: 35%;
    height: auto;
  }
  .container {
    font-size: 2.5vh;
    height: 12vh;
    width: 100%;
  }
}

@media only screen and (max-width: 414px) and (min-width: 411px) {
  .card {
    float: left;
    margin-left: 15vw;
    width: 28%;
    height: auto;
  }
  .container {
    font-size: 2.1vh;
    height: 12vh;
    width: 100%;
  }
}

.hamburger {
  size: 80%;
  padding: 4vw;
  float: left;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
